<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Orders</title>

    <%- include('./partials/links') %>
</head>

<body class="grey lighten-3">

    <%- include('./partials/navbar') %>

        <!--Main layout-->
        <main class="mt-5 pt-4">
            <div class="container wow fadeIn">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div >

                        <!-- Heading -->
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted">Your Orders</span>
                            <span id="totalItems" class="badge badge-secondary badge-pill"><%= orders.length %></span>
                        </h4>

                        <%- include('./partials/orders') %>

                    </div>
                    <!--Grid column-->

                    <!-- cart column here -->

                </div>
                <!--Grid row-->

            </div>
        </main>
        <!--Main layout-->

        <%- include('./partials/footer')%>

            <!-- SCRIPTS -->
            <!-- JQuery -->
            <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
            <!-- Bootstrap tooltips -->
            <script type="text/javascript" src="/js/popper.min.js"></script>
            <!-- Bootstrap core JavaScript -->
            <script type="text/javascript" src="/js/bootstrap.min.js"></script>
            <!-- MDB core JavaScript -->
            <script type="text/javascript" src="/js/mdb.min.js"></script>
            <!-- cart javascript -->
            <script src="/js/cart.js"></script>
            <!-- Initializations -->
            <script type="text/javascript">
                // Animations initialization
                new WOW().init();
            </script>
</body>

</html>